<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>
    <p><strong>Foto de perfil de Facebook:</strong> foto_perfil_facebook</p>
    <p><strong>Nombre de usuario de Facebook:</strong> nombre_usuario_facebook</p>
    <p><strong>Descripción de la publicación:</strong> descripcion_facebook</p>
    <p><strong>Foto de la publicación:</strong> foto_publicacion_facebook</p>
</body>
</html>
